.css-ogi8bu {
    color: white !important;
    width: 80px !important;
}

.css-70qvj9{
    display: flex;
    gap: 20px;
}
.notification{
    font-weight: 450;
}

.header{
    background-color:teal;
    color: white;
    height: 50px;
    padding-top: 10px;
    /* margin-bottom: 5px;
    margin-top: 5px; */
}